
body{
    background-color: #efefef;
    font-family: 'Raleway', serif;
}

#boton{
    background-color: rgb(116, 6, 6);
    color: white;
    font-size: 30px;
    width: 70%;
}

.link-title{
    font-size: x-large;
    color: rgb(51, 51, 143);
    font-weight: bold;
}